/*------------------------------------*\
	$GLOBAL VARIBLES
\*------------------------------------*/

/*------------------------------------*\
	$COLOURS
\*------------------------------------*/

$bc-pink: rgb(209,43,82);

$body-color: $bc-pink;
$text-color: rgb(51,51,51);